- pages = ['home','blog','todo','about','contact']


- contact = ['email','phone']
- socialArr = ['facebook','twitter','google+','instagram','github']

- contactURL = ['mailto:tom@technomad.media?Subject=Job | from wommytilliams.com','tel:3128189011']
- socialURL = ['facebook','twitter','google+','instagram','github']

-
  contactArr = [
    ['email','mailto:tom@technomad.media?Subject=Job | from wommytilliams.com'],
    ['phone','tel:3128189011'],
    ['facebook', 'froggie92'],
    ['twitter', 'froggie92'],
    ['google+', 'https://plus.google.com/u/0/118102255716845472363/posts'],
    ['instagram', 'wommytilliams'],
    ['github', 'wommy'],
  ]
-
  contactArrPlus = [
    ['email','mailto:tom@technomad.media?Subject=Job | from wommytilliams.com',false],
    ['phone','tel:3128189011',false],
    ['facebook', 'froggie92',true],
    ['twitter', 'froggie92',true],
    ['google+', 'https://plus.google.com/u/0/118102255716845472363/posts',false],
    ['instagram', 'wommytilliams',true],
    ['github', 'wommy',true],
  ]
  l = contactArrPlus
-
  socialObj = {
    facebook: 'froggie92',
    twitter: 'froggie92',
    googlePlus: 'https://plus.google.com/u/0/118102255716845472363/posts',
    instagram: 'wommytilliams',
    github: 'wommy'
  }
-
  contactObj = {
    email: 'mailto:tom@technomad.media?Subject=Job | from wommytilliams.com',
    phone: 'tel:3128189011',
    facebook: 'froggie92',
    twitter: 'froggie92',
    googlePlus: 'https://plus.google.com/u/0/118102255716845472363/posts',
    instagram: 'wommytilliams',
    github: 'wommy'
  }

//- 
  TOOD
  if internal
    post='.html'
  else
    post='.com'

mixin q--a(foo)
  -url='./'
  if foo !== 'home'
    -url += foo + '.html'
  a(href=url)= foo

//- mixin q--a__b(foo, href)
//-   a(href=href)(target='_blank')= foo

mixin q--a__c(title, href, ifLong)
  -ifLong 
  -ext='//'+title+'.com/'
  a(
    href= ifLong ? ext+href : href   
    target='_blank'
  )= title

mixin nav__links(list)
  each item in list
    +q--a(item)

mixin nav__links--social4(superArray)
  each a in superArray
    //- +q--a__c(array[])
    //- if (array[3] == 1) ? href=array[1]:href='//'+array[0]+'.com/'+array[1]
    //- -
    //-   ext = '//'+array[0]+'.com/'

    +q--a__c(a[0],a[1],a[2])
    //- p #{array}

    //- if (array[2])
    //-   -ext = '//'+array[0]+'.com/'
    //-   a(
    //-     href=ext+array[1]
    //-     target='_blank'
    //-   )= array[0]
    //- else
    //-   a(
    //-     href=array[1]
    //-     target='_blank'
    //-   )= array[0]

    //- a(href='//#{l[2][0]}.com/#{l[2][1]}') #{l[2][0]}

//- mixin nav__links--social(list)
//-   each item in list
//-     //- +q--a(item, 2, hrefVar)
//-     if item == 'email'
//-       +q--a(item, 3, contactURL[0])(target="_blank")
//-     else if item == 'phone'
//-       +q--a(item, 3, contactURL[1])(target="_blank")

//- mixin nav__links--social2(superArray)
//-   -i = 0
//-   while i < superArray.length
//-     -
//-       a = contactArr[i]
//-       aLast = a[a.length - 1]
//-     //- if i =  0 || 1 || 5
//-     //-   +q--a(contactArr[i][0], 3, contactArr[i][1])(target="_blank")
//-     //- else
//-     //- if i = 3
//-     //-   -href = ext+ foo + dotCom + href
//-     +q--a__b(a[0], aLast)
//-     -i++
//-     //- +q--a(contactArr[1], 3, contactArr[1][0])(target="_blank")
//-     //- -
//-     //- p #{contactArr[0]}

//- mixin nav__links--social3(superArray)
//-   //- each a in superArray
//-   //-   - aLast = a[a.length - 1]
//-   //-   +q--a__b(a[0], aLast)
//-   each a in superArray
//-     //- - aLast = a[a.length - 1]
//-     +q--a__b(a[0], a[1])
      

//- TODO GET TARGET BLANK TO WORK

nav
  +nav__links(pages)
  //- br
  //- +nav__links--social(contact)(target="_blank")
  br
  +nav__links--social4(l)
  br
  p 
  //- p #{l[2]}
  //- p #{l[1]}
  //- a(href='//#{l[2][0]}.com/#{l[2][1]}') #{l[2][0]}
  //- +q--a('google', 2, 'www.google.com')
  //- p 1 #{contactObj.email}
  //- p 2 #{contactArr[0][0]} #{contactArr[1][0]}
  //- p 3 #{socialObj.facebook}
  //- p 4 #{socialArr}
  //- p 5 #{socialArr[0]}
  //- p 6 #{socialObj.github}
  //- p 7 #{contactObj[1]}
  //- p #{contactZ.facebook}
  //- +q--a(foo, number)